
  /* =========shadow colors============ */


  /* ========= end shadow colors============ */








/* =====LOGO=========== */





/* =====LOGO END=========== */
/* =============HEADER============ */









/* =============HEADER__END============ */
/* ============= banner  ============ */


/* ============= banner END  ============ */
/* ==========paragraph======= */
.paragraphs {
padding-bottom: 0;
}

.paragraphs__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.paragraphs__icons {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.paragraphs__content {
  margin: 0;
  display: flex;
  gap: 30px;
}

.paragraph__icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 4px;
}

.paragraph__content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 10px;
}

.paragraph__title {
  color: var(--primary-black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.paragraph__text {
  color: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ==========paragraph END======= */
/* ==========what we do======= */

/* ==========what we do_ END======= */
/* =============team======== */
.team {
  background-color: var(--white-color);
}


.team__style {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
}

.team__item {
  margin: 0;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-color);
}

.team__members {
  /* width: 1170px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.team__member {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
}

.team__name {
  color: var(--primary-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team__status {
  color: inherit;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.socials-list {
  /* margin-top:6px + gap:10px z powyższej sekcji=16px */
  margin-top: 6px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  gap: 10px;
}

.socials-list__link {
  /* margin: 0; */
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  fill: var(--secondary-grey);
  cursor: pointer;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--blue-color);
  fill: var(--secondary-color);
}

/* =============team end============ */
/* =============customers section============ */
.customers {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
}

.customers__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.client {
  margin: 0;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 1px var(--secondary-grey);
  border-radius: 4px;
  fill: var(--secondary-grey);
  transition-property: fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover {
  fill: var(--blue-color);
  box-shadow: 0 0 1px 1px var(--blue-color);
}

/* =============customers section END============ */
/* =========== BACKDROP ========================= */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-0-02);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  border: 1px solid var(--grey-0-10);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ==========modal window inputs===================== */

.modal__title {
  color: var(--primary-black);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.inputs {
  display: flex;
  flex-direction: column;

  gap: 28px;
}

.inputs__frame {
  border: 1px solid var(--third-black);
  display: flex;
  justify-content: left;
  height: 40px;
  border-radius: 4px;
  transition-property: border-color, fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.inputs__frame:hover,
.inputs__frame:focus-within {
  border-color: var(--blue-color);
  fill: var(--blue-color);
  box-shadow: 0 0 0 0 var(--blue-color);
}

.inputs__title {
  position: relative;
  transform: translate(0, -20px);
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input {
  position: absolute;
  display: flex;
  gap: 12px;
  padding: 11px 12px;
}

.input__data {
  width: 400px;
  font-size: 12px;
  color: var(--secondary-black);
  border: 0;
  outline: none;
}
.input__data:hover {
  outline: none;
  /* border: 0; */
}

.inputs__frame--comment {
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--third-black);
  transition-property: border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.inputs__frame--comment:hover,
.inputs__frame--comment:focus-within {
  border-color: var(--blue-color);
  box-shadow: 0 0 0 0 var(--blue-color);
}

.input--comment {
  outline: none;

  font-size: 12px;
  color: var(--secondary-black);
  padding: 12px 16px;
  padding-bottom: 0;
  border-radius: 4px;
  border-color: var(--third-black);
  box-sizing: border-box;
}

.input__data--comment {
  width: 416px;
  height: 96px;
  box-sizing: border-box;
  resize: none;
  border: 0;
  outline: none;
}

/* .input--comment:hover {
  border: 0;
  border-color: var(--blue-color);
  box-shadow: 0 0 0 0 var(--blue-color);
} */

.input__data--comment::placeholder {
  color: var(--primary-half-color);
}

/* ======chcecbox====== */

.checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  line-height: 171%;
}

.checkbox__basic {
  visibility: hidden;
  width: 0;
  height: 0;
}

.checkbox__action--checked {
  position: absolute;
  visibility: hidden;
}

.checkbox__action {
  display: flex;
  align-items: center;
  padding-left: 13px;
}

.checkbox__basic:checked + .checkbox__action .checkbox__action--unchecked {
  visibility: hidden;
}
.checkbox__basic:checked + .checkbox__action .checkbox__action--checked {
  visibility: visible;
  width: 16px;
  height: 15px;
  fill: var(--secondary-color);
  background-color: var(--blue-color);
  padding: 3px 1px 2px 2px;
  border-radius: 2px;
}

.checkbox__statement {
  padding-left: 8px;
}

.checkbox__politicy {
  text-decoration: underline;
  color: var(--blue-color);
}
/* ======chcecbox END====== */
.modal__send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  /* max-width: 200px; */
  background-color: var(--blue-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 76px;
  margin: auto;
  margin-bottom: 0;
}

.modal__send-button:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}
.modal__send-button:focus-visible {
  outline: none;
  background-color: var(--white-color);
  color: var(--blue-color);
}

/* ==========modal window inputs end======================== */
/* ==================END BACKDROP==================== */
/* ///////////////////////////////////// */
/* =============PORTFOLIO============ */

.portfolio-menu {
  margin-bottom: 50px;
  padding-top: 0;
}

.portfolio-menu_buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: auto;
}

.portfolio-menu__button {
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--primary-black);
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu__button:hover {
  background-color: var(--blue-color);
  color: var(--secondary-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.01);
}
.portfolio-menu__button:focus-visible {
  outline: none;
  background-color: var(--blue-color);
  color: var(--secondary-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.01);
}

.portfolio {
  width: 1170px;
  /* padding: 0 15px; */
}
.portfolio-title {
  color: var(--primary-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  /* flex-basis: calc((100%-60px) / 3);  przy takim zapisie wyrzuca błąd parsowania*/
  /* flex-basis: 370px; */
}
.portfolio__item {
  width: 370px;
  border-bottom: 1px solid;
  border-color: var(--grey-color);
  box-shadow: 0 0 1px 1px var(--grey-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: rgba(255, 255, 255, 1); */
}

.portfolio__item:hover {
  /* cursor: pointer; */
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__item:focus-within {
  /* cursor: pointer; */
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.product {
  margin: 0;
  text-align: left;
}

.portfolio-subject {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}

/*========== portfolio covers============== */
.product__content {
  position: relative;
  overflow: hidden;
}

.cover__text {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 156%;
  left: 0.03em;
  padding: 49px 45px 49px 24px;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
  opacity: 0.9;
  position: absolute;
  transform: translate(0%, 0%);
  will-change: transform;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.portfolio__item:hover .cover {
  transform: translate(0%, -100%);
}
.portfolio__item:focus-within .cover {
  transform: translate(0%, -100%);
  outline: none;
}
/*========== END of portfolio covers============== */
/* =============PORTFOLIO__END============ */

/* =============FOOTER============ */

.footer {
  padding: 60px 0px 60px 0px;
  /* max-width: 1600px; */
  margin: 0 auto;
  background-color: var(--dark-color);
  /* background-size: 1600px; */
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: row;
}

.footer__section {
  display: flex;
  align-items: baseline;
}

.address-box {
  font-style: inherit;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
}

.address__description {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0;
}
.adress__physical {
  color: var(--secondary-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
}

.footer__contact {
  color: var(--semi-white-color);
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
}

.footer__contact:hover,
.footer__contact:focus {
  color: var(--blue-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
}

.footer-socials {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.footer-socials__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--secondary-color);
  background-color: var(--dark-grey-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--blue-color);
}

.newsletter {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
  /* padding-top: 12px; */
  margin-left: auto;
}
.newsletter__title {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.newsletter__style {
  display: flex;
  gap: 12px;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  color: var(--secondary-color);
  background-color: var(--dark-color);

  border: 1px solid var(--lighter-dark-grey-color);
  border-radius: 4px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 var(--grey-0-15);
  transition-property: border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__input::placeholder {
  color: var(--semi-white-color);
}

.newsletter__input:hover,
.newsletter__input:focus-within {
  border-color: var(--blue-color);
  outline: var(--blue-color);
  box-shadow: 0 0 0 0 var(--blue-color);
}
.newsletter__button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 188px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--secondary-color);
  cursor: pointer;
  box-shadow: 0 4px 4px 0 var(--grey-0-15);
  border: none;
  /* padding: 10px 28px 42px 10px; */
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__button:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}

.newsletter__button--icon {
  --color1: var(--secondary-color);
  transition-property: --color1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__button:hover .newsletter__button--icon {
  --color1: var(--blue-color);
}

.newsletter__button:focus-visible {
  outline: none;
  background-color: var(--white-color);
  color: var(--blue-color);
}

/* =============FOOTER__END============ */
